.clockinContainer {
  background-color: #f3f3f3;
  padding: 5px;
  /* max-width: 100%; */
  display: flex;
  flex-direction: row;
  gap: 5%;
  height: 78vh;
}

/* Adjust component widths */
@media (max-width: 769px) {
  .clockinContainer {
    display: flex;
    flex-direction: column;
  }
}
